/* Row */

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp {
	order: -1;
}
.row > .col-1 {
	width: 8.33333%;
}
.row > .off-1 {
	margin-left: 8.33333%;
}
.row > .col-2 {
	width: 16.66667%;
}
.row > .off-2 {
	margin-left: 16.66667%;
}
.row > .col-3 {
	width: 25%;
}
.row > .off-3 {
	margin-left: 25%;
}
.row > .col-4 {
	width: 33.33333%;
}
.row > .off-4 {
	margin-left: 33.33333%;
}
.row > .col-5 {
	width: 41.66667%;
}
.row > .off-5 {
	margin-left: 41.66667%;
}
.row > .col-6 {
	width: 50%;
}
.row > .off-6 {
	margin-left: 50%;
}
.row > .col-7 {
	width: 58.33333%;
}
.row > .off-7 {
	margin-left: 58.33333%;
}
.row > .col-8 {
	width: 66.66667%;
}
.row > .off-8 {
	margin-left: 66.66667%;
}
.row > .col-9 {
	width: 75%;
}
.row > .off-9 {
	margin-left: 75%;
}
.row > .col-10 {
	width: 83.33333%;
}
.row > .off-10 {
	margin-left: 83.33333%;
}
.row > .col-11 {
	width: 91.66667%;
}
.row > .off-11 {
	margin-left: 91.66667%;
}
.row > .col-12 {
	width: 100%;
}
.row > .off-12 {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -2rem;
}
.row > * {
	padding: 2rem 0 0 2rem;
}
.row.gtr-uniform {
	margin-top: -2rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
 @media screen and (max-width: 1680px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-xlarge {
	order: -1;
}
.row > .col-1-xlarge {
	width: 8.33333%;
}
.row > .off-1-xlarge {
	margin-left: 8.33333%;
}
.row > .col-2-xlarge {
	width: 16.66667%;
}
.row > .off-2-xlarge {
	margin-left: 16.66667%;
}
.row > .col-3-xlarge {
	width: 25%;
}
.row > .off-3-xlarge {
	margin-left: 25%;
}
.row > .col-4-xlarge {
	width: 33.33333%;
}
.row > .off-4-xlarge {
	margin-left: 33.33333%;
}
.row > .col-5-xlarge {
	width: 41.66667%;
}
.row > .off-5-xlarge {
	margin-left: 41.66667%;
}
.row > .col-6-xlarge {
	width: 50%;
}
.row > .off-6-xlarge {
	margin-left: 50%;
}
.row > .col-7-xlarge {
	width: 58.33333%;
}
.row > .off-7-xlarge {
	margin-left: 58.33333%;
}
.row > .col-8-xlarge {
	width: 66.66667%;
}
.row > .off-8-xlarge {
	margin-left: 66.66667%;
}
.row > .col-9-xlarge {
	width: 75%;
}
.row > .off-9-xlarge {
	margin-left: 75%;
}
.row > .col-10-xlarge {
	width: 83.33333%;
}
.row > .off-10-xlarge {
	margin-left: 83.33333%;
}
.row > .col-11-xlarge {
	width: 91.66667%;
}
.row > .off-11-xlarge {
	margin-left: 91.66667%;
}
.row > .col-12-xlarge {
	width: 100%;
}
.row > .off-12-xlarge {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -2rem;
}
.row > * {
	padding: 2rem 0 0 2rem;
}
.row.gtr-uniform {
	margin-top: -2rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 1366px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-large {
	order: -1;
}
.row > .col-1-large {
	width: 8.33333%;
}
.row > .off-1-large {
	margin-left: 8.33333%;
}
.row > .col-2-large {
	width: 16.66667%;
}
.row > .off-2-large {
	margin-left: 16.66667%;
}
.row > .col-3-large {
	width: 25%;
}
.row > .off-3-large {
	margin-left: 25%;
}
.row > .col-4-large {
	width: 33.33333%;
}
.row > .off-4-large {
	margin-left: 33.33333%;
}
.row > .col-5-large {
	width: 41.66667%;
}
.row > .off-5-large {
	margin-left: 41.66667%;
}
.row > .col-6-large {
	width: 50%;
}
.row > .off-6-large {
	margin-left: 50%;
}
.row > .col-7-large {
	width: 58.33333%;
}
.row > .off-7-large {
	margin-left: 58.33333%;
}
.row > .col-8-large {
	width: 66.66667%;
}
.row > .off-8-large {
	margin-left: 66.66667%;
}
.row > .col-9-large {
	width: 75%;
}
.row > .off-9-large {
	margin-left: 75%;
}
.row > .col-10-large {
	width: 83.33333%;
}
.row > .off-10-large {
	margin-left: 83.33333%;
}
.row > .col-11-large {
	width: 91.66667%;
}
.row > .off-11-large {
	margin-left: 91.66667%;
}
.row > .col-12-large {
	width: 100%;
}
.row > .off-12-large {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1.5rem;
}
.row > * {
	padding: 1.5rem 0 0 1.5rem;
}
.row.gtr-uniform {
	margin-top: -1.5rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 1080px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-large {
	order: -1;
}
.row > .col-1-large {
	width: 8.33333%;
}
.row > .off-1-large {
	margin-left: 8.33333%;
}
.row > .col-2-large {
	width: 16.66667%;
}
.row > .off-2-large {
	margin-left: 16.66667%;
}
.row > .col-3-large {
	width: 25%;
}
.row > .off-3-large {
	margin-left: 25%;
}
.row > .col-4-large {
	width: 33.33333%;
}
.row > .off-4-large {
	margin-left: 33.33333%;
}
.row > .col-5-large {
	width: 41.66667%;
}
.row > .off-5-large {
	margin-left: 41.66667%;
}
.row > .col-6-large {
	width: 50%;
}
.row > .off-6-large {
	margin-left: 50%;
}
.row > .col-7-large {
	width: 58.33333%;
}
.row > .off-7-large {
	margin-left: 58.33333%;
}
.row > .col-8-large {
	width: 66.66667%;
}
.row > .off-8-large {
	margin-left: 66.66667%;
}
.row > .col-9-large {
	width: 75%;
}
.row > .off-9-large {
	margin-left: 75%;
}
.row > .col-10-large {
	width: 83.33333%;
}
.row > .off-10-large {
	margin-left: 83.33333%;
}
.row > .col-11-large {
	width: 91.66667%;
}
.row > .off-11-large {
	margin-left: 91.66667%;
}
.row > .col-12-large {
	width: 100%;
}
.row > .off-12-large {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1.5rem;
}
.row > * {
	padding: 1.5rem 0 0 1.5rem;
}
.row.gtr-uniform {
	margin-top: -1.5rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 980px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-large {
	order: -1;
}
.row > .col-1-large {
	width: 8.33333%;
}
.row > .off-1-large {
	margin-left: 8.33333%;
}
.row > .col-2-large {
	width: 16.66667%;
}
.row > .off-2-large {
	margin-left: 16.66667%;
}
.row > .col-3-large {
	width: 25%;
}
.row > .off-3-large {
	margin-left: 25%;
}
.row > .col-4-large {
	width: 33.33333%;
}
.row > .off-4-large {
	margin-left: 33.33333%;
}
.row > .col-5-large {
	width: 41.66667%;
}
.row > .off-5-large {
	margin-left: 41.66667%;
}
.row > .col-6-large {
	width: 50%;
}
.row > .off-6-large {
	margin-left: 50%;
}
.row > .col-7-large {
	width: 58.33333%;
}
.row > .off-7-large {
	margin-left: 58.33333%;
}
.row > .col-8-large {
	width: 66.66667%;
}
.row > .off-8-large {
	margin-left: 66.66667%;
}
.row > .col-9-large {
	width: 75%;
}
.row > .off-9-large {
	margin-left: 75%;
}
.row > .col-10-large {
	width: 83.33333%;
}
.row > .off-10-large {
	margin-left: 83.33333%;
}
.row > .col-11-large {
	width: 91.66667%;
}
.row > .off-11-large {
	margin-left: 91.66667%;
}
.row > .col-12-large {
	width: 100%;
}
.row > .off-12-large {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1.5rem;
}
.row > * {
	padding: 1.5rem 0 0 1.5rem;
}
.row.gtr-uniform {
	margin-top: -1.5rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 736px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-small {
	order: -1;
}
.row > .col-1-small {
	width: 8.33333%;
}
.row > .off-1-small {
	margin-left: 8.33333%;
}
.row > .col-2-small {
	width: 16.66667%;
}
.row > .off-2-small {
	margin-left: 16.66667%;
}
.row > .col-3-small {
	width: 25%;
}
.row > .off-3-small {
	margin-left: 25%;
}
.row > .col-4-small {
	width: 33.33333%;
}
.row > .off-4-small {
	margin-left: 33.33333%;
}
.row > .col-5-small {
	width: 41.66667%;
}
.row > .off-5-small {
	margin-left: 41.66667%;
}
.row > .col-6-small {
	width: 50%;
}
.row > .off-6-small {
	margin-left: 50%;
}
.row > .col-7-small {
	width: 58.33333%;
}
.row > .off-7-small {
	margin-left: 58.33333%;
}
.row > .col-8-small {
	width: 66.66667%;
}
.row > .off-8-small {
	margin-left: 66.66667%;
}
.row > .col-9-small {
	width: 75%;
}
.row > .off-9-small {
	margin-left: 75%;
}
.row > .col-10-small {
	width: 83.33333%;
}
.row > .off-10-small {
	margin-left: 83.33333%;
}
.row > .col-11-small {
	width: 91.66667%;
}
.row > .off-11-small {
	margin-left: 91.66667%;
}
.row > .col-12-small {
	width: 100%;
}
.row > .off-12-small {
	display: none;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -0.5rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 0.5rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -0.5rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 0.5rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1rem;
}
.row > * {
	padding: 1rem 0 0 1rem;
}
.row.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 480px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-xsmall {
	order: -1;
}
.row > .col-1-xsmall {
	width: 8.33333%;
}
.row > .off-1-xsmall {
	margin-left: 8.33333%;
}
.row > .col-2-xsmall {
	width: 16.66667%;
}
.row > .off-2-xsmall {
	margin-left: 16.66667%;
}
.row > .col-3-xsmall {
	width: 25%;
}
.row > .off-3-xsmall {
	margin-left: 25%;
}
.row > .col-4-xsmall {
	width: 33.33333%;
}
.row > .off-4-xsmall {
	margin-left: 33.33333%;
}
.row > .col-5-xsmall {
	width: 41.66667%;
}
.row > .off-5-xsmall {
	margin-left: 41.66667%;
}
.row > .col-6-xsmall {
	width: 50%;
}
.row > .off-6-xsmall {
	margin-left: 50%;
}
.row > .col-7-xsmall {
	width: 58.33333%;
}
.row > .off-7-xsmall {
	margin-left: 58.33333%;
}
.row > .col-8-xsmall {
	width: 66.66667%;
}
.row > .off-8-xsmall {
	margin-left: 66.66667%;
}
.row > .col-9-xsmall {
	width: 75%;
}
.row > .off-9-xsmall {
	margin-left: 75%;
}
.row > .col-10-xsmall {
	width: 83.33333%;
}
.row > .off-10-xsmall {
	margin-left: 83.33333%;
}
.row > .col-11-xsmall {
	width: 91.66667%;
}
.row > .off-11-xsmall {
	margin-left: 91.66667%;
}
.row > .col-12-xsmall {
	width: 100%;
}
.row > .off-12-xsmall {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 1rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1rem;
}
.row > * {
	padding: 1rem 0 0 1rem;
}
.row.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}
 @media screen and (max-width: 360px) {
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}
.row > * {
	box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.aln-left {
	justify-content: flex-start;
}
.row.aln-center {
	justify-content: center;
}
.row.aln-right {
	justify-content: flex-end;
}
.row.aln-top {
	align-items: flex-start;
}
.row.aln-middle {
	align-items: center;
}
.row.aln-bottom {
	align-items: flex-end;
}
.row > .imp-xxsmall {
	order: -1;
}
.row > .col-1-xxsmall {
	width: 8.33333%;
}
.row > .off-1-xxsmall {
	margin-left: 8.33333%;
}
.row > .col-2-xxsmall {
	width: 16.66667%;
}
.row > .off-2-xxsmall {
	margin-left: 16.66667%;
}
.row > .col-3-xxsmall {
	width: 25%;
}
.row > .off-3-xxsmall {
	margin-left: 25%;
}
.row > .col-4-xxsmall {
	width: 33.33333%;
}
.row > .off-4-xxsmall {
	margin-left: 33.33333%;
}
.row > .col-5-xxsmall {
	width: 41.66667%;
}
.row > .off-5-xxsmall {
	margin-left: 41.66667%;
}
.row > .col-6-xxsmall {
	width: 50%;
}
.row > .off-6-xxsmall {
	margin-left: 50%;
}
.row > .col-7-xxsmall {
	width: 58.33333%;
}
.row > .off-7-xxsmall {
	margin-left: 58.33333%;
}
.row > .col-8-xxsmall {
	width: 66.66667%;
}
.row > .off-8-xxsmall {
	margin-left: 66.66667%;
}
.row > .col-9-xxsmall {
	width: 75%;
}
.row > .off-9-xxsmall {
	margin-left: 75%;
}
.row > .col-10-xxsmall {
	width: 83.33333%;
}
.row > .off-10-xxsmall {
	margin-left: 83.33333%;
}
.row > .col-11-xxsmall {
	width: 91.66667%;
}
.row > .off-11-xxsmall {
	margin-left: 91.66667%;
}
.row > .col-12-xxsmall {
	width: 100%;
}
.row > .off-12-xxsmall {
	margin-left: 100%;
}
.row.gtr-0 {
	margin-top: 0;
	margin-left: 0rem;
}
.row.gtr-0 > * {
	padding: 0 0 0 0rem;
}
.row.gtr-0.gtr-uniform {
	margin-top: 0rem;
}
.row.gtr-0.gtr-uniform > * {
	padding-top: 0rem;
}
.row.gtr-25 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-25 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-25.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-25.gtr-uniform > * {
	padding-top: 1rem;
}
.row.gtr-50 {
	margin-top: 0;
	margin-left: -1rem;
}
.row.gtr-50 > * {
	padding: 0 0 0 1rem;
}
.row.gtr-50.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-50.gtr-uniform > * {
	padding-top: 1rem;
}
.row {
	margin-top: 0;
	margin-left: -1rem;
}
.row > * {
	padding: 1rem 0 0 1rem;
}
.row.gtr-uniform {
	margin-top: -1rem;
}
.row.gtr-uniform > * {
	padding-top: 0;
}
.row.gtr-150 {
	margin-top: 0;
	margin-left: -3rem;
}
.row.gtr-150 > * {
	padding: 0 0 0 3rem;
}
.row.gtr-150.gtr-uniform {
	margin-top: -3rem;
}
.row.gtr-150.gtr-uniform > * {
	padding-top: 3rem;
}
.row.gtr-200 {
	margin-top: 0;
	margin-left: -4rem;
}
.row.gtr-200 > * {
	padding: 0 0 0 4rem;
}
.row.gtr-200.gtr-uniform {
	margin-top: -4rem;
}
.row.gtr-200.gtr-uniform > * {
	padding-top: 4rem;
}
}