.wrapper_menu {
	position: fixed;
	top: 0;
	/*left: -100%;*/
	right: -100%;
	height: 100%;
	width: 100%;
	background-color: var(--primary-grey);
	transition: all 0.6s ease-in-out;
	z-index: 4;
	overflow: hidden;
}
#active:checked ~ .wrapper_menu {
	/*left: 0;*/
	right: 0;
}
.menu-btn {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	position: absolute;
	height: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 5;
}
.menu-btnb {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	position: absolute;
	height: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 5;
}
@media screen and (max-width: 1180px) {
.menu-btn, .menu-btnb {
	top: 4rem;
	left: 0;
}
}
@media screen and (max-width: 820px) {
.menu-btn, .menu-btnb {
	top: 4rem;
}
}
@media screen and (max-width: 768px) {
.menu-btn, .menu-btnb {
	top: 4rem;
}
}
@media screen and (max-width: 736px) {
.menu-btn, .menu-btnb {
	top: 3.75rem;
	left: -1rem;
}
}
@media screen and (max-width: 360px) {
.menu-btn, .menu-btnb {
	top: 3.15rem;
}
}
.menu-btn span, .menu-btn:before, .menu-btn:after {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	content: "";
	position: absolute;
	top: 0;
	width: 60%;
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btnb span, .menu-btnb:before, .menu-btnb:after {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	content: "";
	position: absolute;
	top: 0;
	width: 60%;
	border-bottom: 3px solid var(--primary-dblue);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
	transform: translateY(-4px);
}
.menu-btn:after {
	transform: translateY(4px);
}
.menu-btnb:before {
	transform: translateY(-4px);
}
.menu-btnb:after {
	transform: translateY(4px);
}
.close {
	z-index: 6;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
}
/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
	border-color: var(--primary-dblue);
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
	border-color: var(--primary-dblue);
}
/* closing animation */
#active:checked + .menu-btnb span {
	transform: scaleX(0);
}
#active:checked + .menu-btnb:before {
	transform: rotate(45deg);
	border-color: var(--primary-dblue);
}
#active:checked + .menu-btnb:after {
	transform: rotate(-45deg);
	border-color: var(--primary-dblue);
}
.wrapper_menu ul {
	position: relative;
	top: 8rem;
	left: 1rem;
	padding: 0;
	margin-right: 0;
	list-style: none;
	text-align: left;
}
.wrapper_menu ul li {
	display: block;
	padding-bottom: 0.65rem;
}
.wrapper_menu ul li a {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	position: relative;
	display: inline-block;
	background-color: rgba(197, 230, 255, 1);
	color: var(--primary-dblue);
	font-size: 1.35rem;
	line-height: 2.2;
	height: 3rem;
	margin: 0;
	padding: 0 1rem;
	border-radius: 1.15rem;
	opacity: 0;
	transition: all 0.2s ease;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper_menu .title a {
	background-color: var(--primary-nblue);
	color: rgba(255, 255, 255, 1);
	font-size: 1.35rem;
	line-height: 2.2;
	height: 3rem;
	margin: 0;
	padding: 0 1rem;
	border-radius: 1.15rem;
}
.wrapper_menu .title.color_bg_db a {
	background-color: var(--primary-dblue);
}
.wrapper_menu .title.color_bg_mb a {
	background-color: var(--primary-mblue);
}
.wrapper_menu .title.color_bg_nb a {
	background-color: var(--primary-nblue);
}
.wrapper_menu .title.color_bg_b a {
	background-color: var(--primary-blue);
}
.wrapper_menu .title.color_bg_lb a {
	background-color: var(--primary-lblue);
	color: var(--primary-dblue);
}
.wrapper_menu .title.color_bg_nred a {
	background-color: var(--primary-nred);
}
.wrapper_menu .title.color_bg_purple a {
	background-color: var(--primary-npurple);
}
.wrapper_menu .color_bg_db a {
	background-color: var(--primary-dblue);
	color: rgba(255, 255, 255, 1);
}
.wrapper_menu .color_bg_ab a {
	background-color: var(--primary-ablue);
	color: var(--primary-dblue);
}
.wrapper_menu .color_bg_apurple a {
	background-color: var(--primary-apurple);
}
.wrapper_menu .color_bg_w a {
	background-color: rgba(255, 255, 255, 1);
	color: var(--primary-dblue);
}
input[type="checkbox"] {
	display: none;
}
.content_menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	text-align: center;
	width: 100%;
}
#active:checked ~ .wrapper_menu ul li a {
	opacity: 1;
}
.wrapper_menu ul li a {
	transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#active:checked ~ .wrapper_menu ul li a {
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
	transition-delay: .6s;
}