#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.3s;
	z-index: 4;
}
.scrolled {
	background-color: var(--primary-blue);
	transition: 0.3s;
}
.container_logotype_lockup_t {
	display: flex;
    justify-content: center;
}
.logotype_lockup_t {
	position: absolute;
	width: 12rem;
	transform: scale(1);
	z-index: 3;
}
.logotype_lockup_b {
	width: 15rem;
}
ul.topmenu {
	font-size: 1.35rem;
	position: relative;
	list-style: none;
	padding: 0;
	top: 0.75rem;
	float: left;
}
ul.topmenu_right {
	position: relative;
	list-style: none;
	padding: 0;
	float: right;
}
ul.topmenu_right img {
	width: 3rem;
	vertical-align: -1.15em;
}
ul.topmenu li, ul.topmenu_right li {
	display: inline-block;
	padding-left: 0.35rem;
}
ul.topmenu li:first-child {
	padding-left: 0;
}
.menumob {
	display: none;
}
ul.bottommenu {
	list-style: none;
	line-height: 1.2;
	padding-bottom: 2rem;
	margin: 0;
}
ul.bottommenu li {
	font-size: 1.35rem;
	display: block;
	margin-bottom: 1rem;
}
ul.bottommenu_hor {
	color: var(--primary-thd);
	font-size: 1.25rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul li.bottommenu_big {
	font-size: 1.5rem;
}
ul.bottommenu_hor li {
	display: inline-block;
	margin-bottom: 3rem;
	padding-right: 2rem;
}
.goup {
	position: relative;
	float: right;
	width: 3rem;
	bottom: 1rem;
}
.goup img {
	-moz-transition: transform 0.2s ease-in-out;
	-webkit-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	width: 3rem;
	object-fit: cover;
}
.goup:hover img {
	transform: scale(1.1);
}
.goup a:active .goup a:visited {
	opacity: 1;
}
ul.goup li {
	padding: 0.25rem 0.5rem 1rem 0;
}
.offdesk, .offdesk_title, .offdesk_all, .off_news_desk {
	display: none;
}
/* Dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}
/* Style the button */
.dropbtn {
	background-image: url(../../imgs/icons/icon_arrow_down_drop_but_db.svg);
	background-repeat: no-repeat;
	background-position: right center; /* Adjusted position so arrow doesn't stick to edge */
	position: relative;
	background-color: inherit;
	color: white;
	font-size: 1.35rem;
	border: none;
	cursor: pointer;
}
.dropbtn:hover {
	background-image: url(../../imgs/icons/icon_arrow_down_drop_but_w.svg);
}
/* Hide the dropdown menu by default */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	border-radius: 1.75rem;
}
/* Style the links inside the dropdown */
.dropdown-content a {
	text-decoration: none;
	display: block;
	margin-top: 0.5rem;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
}
/* Show the dropdown menu when hovering over the container */
.dropdown:hover .dropdown-content {
	display: block;
}
/* Change button color when the dropdown is active */
.dropdown:hover .dropbtn {
}
 @media screen and (max-width: 1366px) {
.logotype_lockup_b {
	width: 14rem;
}
}
 @media screen and (max-width: 1180px) {
.menumob {
	display: block;
	padding: 0;
	z-index: 5;
}
#hideitlow {
	display: none;
}
#logotype_sym {
	position: relative;
	width: 10rem;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 6;
}
ul.topmenu_right {
	top: 1.25rem;
	right: 1rem;
}
.offdesk {
	display: block;
}
.offmob {
	display: none;
}
}
 @media screen and (max-width: 1080px) {
.logotype_lockup_b {
	width: 14rem;
}
}
 @media screen and (max-width: 820px) {
.offdesk, .offdesk_title {
	display: block;
}
.offmob_title {
	display: none;
}
}
 @media screen and (max-width: 768px) {
#logotype_sym {
	width: 10rem;
}
.logotype_lockup_b {
	width: 12rem;
}
ul.bottommenu {
	padding-bottom: 2rem;
}
ul.bottommenu li {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
ul li.bottommenu_big {
	font-size: 1.8rem;
	line-height: 1;
	margin-bottom: 2rem;
}
ul.bottommenu_hor li {
	display: block;
	font-size: 1.15rem;
	line-height: 1.1;
	margin: 0 0 1rem 0;
}
.offmobtext {
	display: none;
}
}
 @media screen and (max-width: 736px) {
#logotype_sym {
	width: 9rem;
}
ul.topmenu_right {
	top: 1.25rem;
	right: 0;
}
ul.topmenu_right img {
	width: 2.8rem;
	vertical-align: -1.15em;
}
.logotype_lockup_b {
	width: 100%;
}
.offdesk_all, .off_news_desk, .off_news_desk {
	display: block;
}
}
 @media screen and (max-width: 395px) {
}
